.all-reviews {
    margin-top: 1rem;
}

.comments {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1.5rem;
    margin-left: 0.75rem;
    width: 52rem;
}

.comment {
    margin-left: 1rem;
    background-color: white;
    border-radius: 8px;
    border: none;
    text-align: left;
    width: 50rem;
}

.comment p {
    margin-top: 0.5em;
    padding-left: 0.5rem;
    font-size: 14px;
}

.user-name {
    font-weight: 500;
}

.comment-details {
    display: flex;
    flex-flow: row nowrap;
}

.date {
    color: gray;
    margin-left: 1rem;
}